<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">
  <title>CRUD de Produtos</title>
</head>
<body>
  <h1 class="Hello">Hello, World!</h1>
  
  <ul class="items">
    <% product.forEach(product => { %>
      <li class="item-list">
        <strong class="item-name"><%= product.name %></strong>
        <p class="item-price">Price: <%= product.price %></p>
      </li>
    <% }); %>
  </ul>
</body>
</html>