* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: black;
  color:blue;
}

h1 {
  text-align: center;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image {
  height: 6rem;
}

ul li {
  list-style: none;
}

li .item-name{
  font-size: 1.7rem;
}

li .item-price {
  font-size: 1.3rem;
}